@page "/catalogueFormation"
@using FormationApp.Composants

@inject ICatalogueFormation CatalogueFormationVM

<h1>Catalogue des formations</h1>

<br />

@if (CatalogueFormationVM.DisplayDetail)
{
	<DetailFormation Formation="@CatalogueFormationVM.SelectedFormation"
					 OnClickToDownload="@(e => CatalogueFormationVM.DownloadOnClick(e, CatalogueFormationVM.SelectedFormation.IdFormation, CatalogueFormationVM.SelectedFormation.NomDuFichier))"
					 OnClickToClose="@(e => CatalogueFormationVM.CloseDetail(e))" />
}


@if (CatalogueFormationVM.AllFormations == null)
{
	<div class="spinner" />
}
else
{
	@*Affichage des formations sous formes de card*@
	<div class="formation-flex">
		@foreach (var formation in CatalogueFormationVM.AllFormations)
		{
			<div class="card-formation grow" @onclick="@(e =>  CatalogueFormationVM.ClickOnFormation(formation))">
				<h2 class="card-header-formation">@formation.Titre</h2>
				<div class="card-formation-description">@formation.Description</div>
			</div>

		}
	</div>
}




@code {

}
