@page "/catalogueFormation"
@using FormationApp.Composants


<h1>Catalogue des formations</h1>

<br />

@if (DisplayDetail)
{
	<DetailFormation Formation="@SelectedFormation"
					OnClickToDownload="@(e => DownloadOnClick(e, SelectedFormation.IdFormation, SelectedFormation.NomDuFichier))"
					OnClickToClose="@(e => CloseDetail(e))"/>
}

@*Affichage des formations sous formes de card*@
<div class="formation-flex">
	@foreach (var formation in AllFormations)
	{
		<div class="card-formation grow" @onclick="@(e =>  ClickOnFormation(formation))">
			<h2 class="card-header-formation">@formation.Titre</h2>
			<div class="card-formation-description">@formation.Description</div>
		</div>

	}
</div>


@code {

}
