@page "/detailsession"

@using AccessData.Models
@using FormationApp.Composants
@attribute [Authorize(Roles = "Administrateur, Gestionnaire")]

<h3>Détail de la session</h3>

@*Affichage des informations sur le session de formation*@
<div class="row border">
	<div class="col-4">
		<div><u>Formation</u> : @UserService.SessionView.TitreFormation</div>
		<div><u>Date</u> : @UserService.SessionView.DateDebutSession.ToString("d")</div>
		<div><u>Durée</u> : @UserService.SessionView.NombreDeJour jour(s)</div>
	</div>
	
	<div class="col-4">
		<div><u>Formateur</u> : @UserService.SessionView.Nom @UserService.SessionView.Prenom</div>
		<div><u>Salle</u> : @UserService.SessionView.NomDeLaSalle</div>
	</div>

	<div class="col-4">
		<div>Ajouter le fichier d'émargement</div>

		@if (string.IsNullOrEmpty(FileNameEmergement))
		{
			<div>
				<MatFileUpload OnChange="@FileEmargement"
							   Label="Déposer le fichier ou Parcourir"
							   Style="height:30px"></MatFileUpload>
			</div>
		}
		else
		{
	<div>
		<MatButton Icon="attachment" 
					Label="Télécharger"
					@onclick="@(e => DownloadOnClick(e))" />
	</div>
		}
			<div>Nom du fichier : @FileNameEmergement</div>
	</div>
</div>

<br />
<br />

@*Affichage du tableau du personnel inscrit à cette session*@
<div>
	<RadzenGrid AllowFiltering="true"
				FilterCaseSensitivity="FilterCaseSensitivity.Default"
				AllowPaging="true"
				PageSize="10"
				AllowSorting="true"
				Data="@PersonnelsInscrit"
				TItem="PersonnelInscritView"
				EmptyText="Aucun personnel inscrit"
				ColumnWidth="150px">
		<Columns>
			<RadzenGridColumn TItem="PersonnelInscritView" Property="Nom" Title="Nom" Filterable="true" Sortable="true" />
			<RadzenGridColumn TItem="PersonnelInscritView" Property="Prenom" Title="Prénom" Filterable="true" Sortable="true" />
			<RadzenGridColumn TItem="PersonnelInscritView" Property="Service" Title="Service" Filterable="true" Sortable="true" />
			<RadzenGridColumn TItem="PersonnelInscritView" Property="Note" Title="Note" Filterable="false" Sortable="false">
				<Template Context="personnel">
					@if(!personnel.Note.HasValue)
					{
						<div><i>Aucune note</i></div>
					}
					else
					{
						<Rating Stars="personnel.Note.Value" MaxStars="5"></Rating>
					}
				</Template>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="PersonnelInscritView" Property="Commentaire" Title="Commentaire" Filterable="false" Sortable="false">
				<Template Context="personnel">
				@if(string.IsNullOrEmpty(personnel.Commentaire))
				{
					<div><i>Aucun commentaire</i></div>
				}
				</Template>
			</RadzenGridColumn>
		</Columns>
	</RadzenGrid>
</div>

@code {

}